*{
	box-sizing: border-box;
	overflow: hidden;
}

body{
	background-color: #e3e3e3;
}

.popapp-averlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	background: rgba(0, 0, 0, .5);
}

.container{
	display: none;
	max-width: 400px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.popapp {
	display: block;
}

.header{
	background-color: #f7f7f7;
	border: 1px solid #f0f0f0;
	padding: 20px 40px;
}
.header h2{
	margin: 0;
}

.form{
	padding: 30px 40px;
}
.form-control{
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}
.form-control label{
	display: inline-block;
	margin-bottom: 5px;
}
.form-control input{
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #000;
	font-size: 14px;
	font-family: inherit;
}
.form-control.success input{
	border-color: #2ecc71;
}
.form-control.error input{
	border-color: #e74c3c;
}

.form-control i{
	position: absolute;
	top: 40px;
	right: 10px;
	visibility: hidden;
}
.form-control.success i.fa-check-circle{
	color: #2ecc71;
	visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
	color: #e74c3c;
	visibility: visible;
}


.form-control small{
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}
.form-control.error small{
	visibility: visible;
	color: #e74c3c;
}

.form button{
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	font-family: inherit;
	width: 100%;
}


.modal-header {
	display: flex;
	justify-content: space-between;
}

.modal-header button {
	padding: 0;
	background-color: rgba(255, 255, 255, .1);
}

.modal-header .close {
	margin-top: 10px;
	margin-right: 10px;
}

.modal-header .close span{
	font-size: 20px;
}
